<!-- <p>
  navbar works!
</p>
<a routerLink="home">Home</a> <br >
<a routerLink="about">About</a> <br >
<a routerLink="contact">Contact</a> <br >
<a routerLink="posts">Posts</a> <br > -->

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand pointer" routerLink="home">Angular Blog</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link pointer" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pointer" routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pointer" routerLink="posts">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pointer" routerLink="contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
