
<div *ngIf="!isLoading" class="container">
  <div class="theage-theme">
    <button mat-raised-button color="primary" routerLink="/forum">Forum</button>
    <button mat-raised-button color="primary" routerLink="/forum-subs/{{subId}}">{{subName}}</button>
  </div>
  <div class="row theage-theme">

    <!-- Main post -->
    <div class="post-head">
      <h4 class="post-title">{{title}}</h4>

      <div class="card">
        <img class="image" src="./assets/images/default.jpg">
        <div class="card-body">
          <p>forum post author<br>Posted on:<br>{{createdAt}}</p>
        </div>
      </div>

      <div class="text">
        <p>{{content}}</p>
      </div>
    </div>

    <!-- Comment section -->
    <div *ngFor="let comment of sortComments">
      <div class="post-comment" *ngIf="comment.postID === this.id">
        <div class="card">
          <img class="image" src="./assets/images/default.jpg">
          <div class="card-body">
            <p></p>
            <p>forum comment author<br>Posted on:<br>{{createdAt}}</p>
          </div>
        </div>

        <div class="delete-button">
          <button *ngIf="isAdmin" mat-raised-button color="primary" (click)="deleteComment(comment.id)">Delete comment</button>
        </div>

        <div class="text">
          <p>{{comment.content}}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Create a comment section -->
  <div class="comment-section theage-theme">
    <h3>Create a comment</h3>
    <mat-label class="title">Content</mat-label>
    <div class="form-field">
      <textarea matInput #comment maxlength="5000" placeholder="Enter your comment here" required></textarea>
      <mat-hint style="text-align: right;">{{comment.value.length}} / 5000</mat-hint>
    </div>
    <button mat-raised-button color="primary" (click)="addComment(comment.value)">Create a comment</button>
    <h3 class="posted" *ngIf="isPosted">Your comment has been posted!</h3>
    <h3 class="error" *ngIf="isError">{{this.errorMessage}}</h3>
  </div>
</div>



