<!-- Footer -->
<body>
<footer>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto hovericon">
        <ul class="list-inline text-center">
          <li><a href="https://www.facebook.com/theage.mue/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="https://twitter.com/theatergemeinde"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="https://www.instagram.com/theage_muc/?hl=fi"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
    <p class="copyright text-muted">Copyright &copy; Samu Willman, Lassi Markkinen & Ville Kautto {{year}} </p>
    <br>
  </div>

</footer>
</body>
