<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 sideNav">
      <p>Top 50</p>
      <p>Recommendations</p>
    </div>
    <div class="col-lg-10">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4 column" *ngFor="let event of events">
            <h5 routerLink="/single-event-page/{{event.id}}">{{event.name}}</h5>
            <img src="./assets/images/{{event.id}}.jpeg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

