<div class="container">

  <div class="theage-theme">
    <button mat-raised-button class="forum-button" color="primary" routerLink="/forum">Forum</button>
    <button mat-raised-button class="post-button" color="primary" routerLink="/forum-post-new">Create new post</button>
  </div>

  <div class="post-container">
    <h4>{{title}}</h4>

    <!-- List of posts -->
    <div *ngFor="let post of posts" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding">
      <div class="posts theage-theme space" *ngIf="post.subID === this.id">
        <div class="delete-button">
          <button mat-raised-button color="primary" (click)="deletePost(post.id)">Delete post</button>
        </div>
        <p class="post" routerLink="/forum-post/{{post.id}}">{{post.title}}</p>
      </div>
    </div>

  </div>
</div>
