div {
  font:600 16px/18px 'Open Sans',sans-serif;
}

button {
  margin-right: 5px;
  padding: 5px;
}

.post {
  border-color: black;
  border-style: solid;
  border-radius: 7px;
  padding: 1vh;
  cursor: pointer;
}

.post:hover {
  color: red;
}

h4 {
  margin-left: 2vh;
  border-bottom: solid;
}
