div {
  font:600 16px/18px 'Open Sans',sans-serif;
}

.theage-theme > button {
  margin-right: 5px;
  padding: 5px;
}

.posts {
  border-color: black;
  border-style: solid;
  border-radius: 7px;
  padding: 1vh;
  cursor: pointer;
}

.posts:hover {
  color: red;
}

h4 {
  margin-left: 15px;
  border-bottom: solid;
}

.post-button {
  float: right !important;
  margin-bottom: 10px;
  margin-left: 5px !important;
}

.forum-button {
  margin-bottom: 10px;
  margin-left: 15px;
}

.space {
  margin-top: 30px;
}

.delete-button {
  float: right;
}

.padding {
  padding-right: 0;
}
