
ul li a::after{
  position: absolute;
  top: 90px;
  left: -11px;
  height: 20px;
  width: 100%;
  transition: 0.5s;
}

ul li a:hover{
  transform: translate(0px, -10px);
  transition: 0.5s;
  box-shadow: 15px 15px 15px rgb(0, 0, 0, 0.2);
}

.body {
  background: #b1b1b1;
}

