
ul li a::after{
  content: "";
  position: absolute;
  top: 90px;
  left: -11px;
  height: 20px;
  width: 100%;
  transition: .5s;
}

ul li a:hover{
  transform: translate(0px, -10px);
  box-shadow: 15px 15px 15px rgb(0, 0, 0, 0.2);
}

.button {
  font-size: 150px;
}

.body {
  background: #b1b1b1;
}
