<div class="container">
  <!-- Site's login form -->
  <div class="login-form">
    <div class="main-div">
      <img class="logo" src="./assets/images/logov2.png">
      <div class="panel">
        <h3>Log in</h3>
        <p>Please enter your email and password</p>
      </div>
      <form id="Login">
        <div class="form-group">
          <input #email type="email" class="form-control" id="inputEmail" placeholder="Username">
        </div>
        <div class="form-group">
          <input #password type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
        <div class="forgot">
          <a>Forgot password?</a>
        </div>
        <div *ngIf="error">
          <p class="color">Incorrect username or password<p>
        </div>
        <button #loginbtn type="submit" class="btn btn-primary" (click)="signIn()">Login</button>
        <button class="btn btn-primary marginSecondButton" routerLink="/registration-page">Create an account</button>
      </form>
    </div>
  </div>
  <!-- background image -->
<img class="big" src="./assets/images/Red_curtain.jpg"/>
</div>