<app-navbar *ngIf="!(this.router.url==='/start-page' || this.router.url==='/registration-page' || this.router.url==='/registration-confirm')"></app-navbar>
<app-masthead *ngIf="!(this.router.url==='/start-page' || this.router.url==='/registration-page' || this.router.url==='/registration-confirm')"></app-masthead>
<div>
  <router-outlet></router-outlet>
</div>
<hr *ngIf="!(this.router.url==='/start-page' || this.router.url==='/registration-page' || this.router.url==='/registration-confirm')">
<app-footer *ngIf="!(this.router.url==='/start-page' || this.router.url==='/registration-page' || this.router.url==='/registration-confirm')"></app-footer>
