<div class="container">

  <h2>Forum management</h2>

  <h3>Category mangement</h3>

  <form class="theage-theme" >

    <h5>Create a new category</h5>

      <div class="form-field">
        <mat-label class="title">Category name</mat-label>
        <textarea matInput #catCreate maxlength="32" placeholder="Enter category name" required></textarea>
        <mat-hint align="end">{{catCreate.value.length}} / 32</mat-hint>
      </div>
      <button mat-raised-button color="primary" (click)="addCategory(catCreate.value)">Create category</button> 
  </form>

  <form class="theage-theme" >

    <h5>Delete a category</h5>

    <div class="form-field">
      <mat-label class="title">Select a Category</mat-label>
      <select #catDelete name="category" (click)="onChange(cat.value)" required>
        <option [value]="category.id" *ngFor="let category of categories">{{category.name}}</option>
      </select>
    </div>
    <button mat-raised-button color="primary" (click)="deleteCategory(catDelete.value)">Delete category</button>
  </form>

  <h3>Subcategory mangement</h3>

  <form class="theage-theme" >

    <h5>Create a new subcategory</h5>
      <div class="form-field">
        <mat-label class="title">Select a Category</mat-label>
        <select #cat name="category" (click)="onChange(cat.value)" required>
          <option [value]="category.id" *ngFor="let category of categories">{{category.name}}</option>
        </select>
      </div>
      <div class="form-field">
        <mat-label class="title">Subcategory name</mat-label>
        <textarea matInput #subCreate maxlength="256" placeholder="Enter subcategory name" required></textarea>
        <mat-hint align="end">{{subDelete.value.length}} / 256</mat-hint>
      </div>
    <button mat-raised-button color="primary" (click)="addSubcategory(subCreate.value)">Create subcategory</button>
  </form>

  <form class="theage-theme" >

    <h5>Delete a subcategory</h5>

      <div class="form-field">
        <mat-label class="title">Select a Category</mat-label>
        <select #cat name="category" (click)="onChange(cat.value)" required>
          <option [value]="category.id" *ngFor="let category of categories">{{category.name}}</option>
        </select>
      </div>

      <mat-label class="title">Subcategory</mat-label>
        <select #subDelete name="subcategory" required>
          <option [value]="subDelete.id" *ngFor="let sub of subOptions">{{sub.name}}</option>
        </select>
    <button mat-raised-button color="primary" (click)="deleteSubcategory(subDelete.value)">Delete subcategory</button>
  </form>

</div>