<body>
  <div class="row">
    <div class="theage-theme">
      <button *ngIf="isAdmin" mat-raised-button color="primary" routerLink="/forum-management">Manage forum content</button>
    </div>
    <hr>
    <div class="content">

      <!-- categories section -->
      <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 mx-auto overflow-scroll">
          <h4 class="categories">Categories</h4>
        <div class="container-fluid">
        <div class="row rowEdit">
          <div *ngFor="let category of categories" class="col-lg-2 col-md-12 col-sm-12 col-xs-12 paddings">
            <img class="mx-auto d-block" src="./assets/images/{{category.id}}.jpg">
            <h5 class="mainCategories">{{category.name}}</h5>
            <div class="mainCategories" *ngFor="let subcategory of subCategories">
              <p class="links" *ngIf="subcategory.catID === category.id" routerLink="/forum-subs/{{subcategory.id}}">{{subcategory.name}}</p>
            </div>
          </div>
        </div>
      </div>

      </div>
      <!-- latest posts feed -->
      <div *ngIf="apiFetchDone" class="col-lg-3 col-md-12 col-sm-12 col-xs-12 mx-auto separator overflow latest-posts">
          <h4 class="categories">Latest posts</h4>
        <p *ngFor="let index of indexes" class="links" routerLink="/forum-post/{{recentPosts[index].id}}">{{recentPosts[index].title}}<br>{{recentPosts[index].createdAt}}</p>
      </div>
    </div>
  </div>
</body>
