.content {
  border-color: black;
  border-style: solid;
  border-radius: 7px;
  padding: 5px;
}

.post-head, .post-comment{
  border-color: black;
  border-style: solid;
  border-radius: 7px;
  margin: 5px;
  padding: 5px;
  min-height: 410px;
}

.post-head, .post-comment > button{
  align-content: right;
}

.card {
  float: left;
  border-style: solid;
  border-color: black;
  text-align: center;
  min-height: 40vh;
  min-width: 25vh;
}

.text {
  padding-left: 28vh
}

.image {
  float: left;
  min-height: 25vh;
  min-width: 25vh;
  max-height: 25vh;
  max-width: 25vh;
  border-color: black;
  border-style: solid;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.post-title {
  border-color: black;
  border-style: solid;
  padding: 3px;
}

div {
  font:600 16px/18px 'Open Sans',sans-serif;
}

.comment-section {
  width: 100%;
  border-style: solid;
  padding: 5px;
}

.form-field > textarea, mat-hint {
  width: 100%;
}

.delete-button {
  float: right;
}

button {
  margin: 5px;
}

.card-body {
  margin: 0px;
}

.error {
  color: red;
}