
<div *ngIf="!isLoading" class="container">
  <div class="theage-theme">
    <button mat-raised-button color="primary" routerLink="/forum">Forum</button>
    <button mat-raised-button color="primary" routerLink="/forum-subs/{{subId}}">{{subName}}</button>
  </div>
  <div class="row">
    <div class="post-head">
      <h4 class="post-title">{{title}}</h4>

      <div class="card">
            <img class="image" src="./assets/images/default.jpg">
          <div class="card-body">
            <p>forum post author</p>
          </div>
        </div>

      <div class="text">
        <p>{{content}}</p>
      </div>
    </div>

    <div class="post-comment" *ngFor="let comment of comments">
      <div class="card">
        <div class="image">Profile Picture</div>
        <div class="card-body">
          <p>forum post author</p>
        </div>
      </div>

      <div class="text">
        <p>{{comment.content}}</p>
      </div>
    </div>
  </div>
</div>

