<div class="container">
  <div class="login-form">
    <div class="main-div">
      <img class="logo" src="./assets/images/logov2.png">
      <div class="panel">
        <h3>Confirm your account</h3>
        <p>Email confirmation</p>
      </div>
      <form id="Login">
        <div class="form-group">
          <input #username class="textField" type="text" class="form-control" id="inputUsername" placeholder="Username">
        </div>
        <div class="form-group">
          <input #code class="textField" type="text" class="form-control" id="inputEmail" placeholder="Verification code">
        </div>
        <div *ngIf="error">
          <p class="color">Confirmation was not successful<p>
        </div>
        <button type="submit" (click)="confirmSignUp()" class="btn btn-primary buttonMargin">Register</button>
      </form>
    </div>
  </div>
</div>
<img class="big" src="./assets/images/Red_curtain.jpg"/>
