@import '~@angular/material/theming';
@include mat-core();

.theage-theme {
  $primary: mat-palette($mat-red);
  $accent: mat-palette($mat-green, 400);
  $warn: mat-palette($mat-grey);

  $theage-theme: mat-light-theme($primary, $accent, $warn);

  @include angular-material-theme($theage-theme);
}