<body>
  <div class="row">
      <!-- Events button -->
      <div class="col-lg-3 col-md-6 col-mx-12 column">
        <div class="page-link">
          <img src="../assets/images/events.jpg" routerLink="/event-page" routerLinkActive="active" alt="">
          <div class="blur"></div>
          <a routerLink="/event-page" routerLinkActive="active">
            <div class="caption-text">
              <h1>Events</h1>
              <p>View upcoming events</p>
            </div>
          </a>
        </div>
      </div>

      <!-- ticket button -->
      <div class="col-lg-3 col-md-6 col-mx-12 column">
        <div class="page-link">
          <img src="../assets/images/ticket.jpg" alt="">
          <div class="blur"></div>
          <a class="nav-link pointer style" (click)="clickTicket()">
            <div class="caption-text">
              <h1>Tickets</h1>
              <p>Buy tickets</p>
            </div>
          </a>
        </div>
      </div>

      <!-- blog button -->
      <div class="col-lg-3 col-md-6 col-mx-12 column">
        <div class="page-link">
          <img src="../assets/images/blog.jpg" alt="">
          <div class="blur"></div>
          <a class="nav-link pointer style" (click)="clickBlog()">
            <div class="caption-text">
              <h1>Official blog</h1>
              <p>Check what's new</p>
            </div>
          </a>
        </div>
      </div>

      <!-- forum button -->
      <div class="col-lg-3 col-md-6 col-mx-12 column">
        <div class="page-link">
          <img src="../assets/images/forum.jpg" routerLink="/forum" routerLinkActive="active" alt="">
          <div class="blur"></div>
          <a class="a" routerLink="/forum" routerLinkActive="active">
            <div class="caption-text">
              <h1>Forum</h1>
              <p>Discuss with other people</p>
            </div>
          </a>
        </div>
    </div>
  </div>
</body>
