html {
    scroll-behavior: smooth;
}

.buttonSection {
    text-align: center;
    height: 300px;
}

.buttonSection > h4 {
    margin-top: 75px;
    margin-bottom: 75px;
}

.buttonSection > button {
    border-style: solid;
    border-color: black;
    margin: 5px;
    width: 180px;
    height: 80px;
    outline: none;
    cursor: pointer;
    background: none;
    transition: .3s;
    border-radius: 5px;
    font-family: "Lato",sans-serif;
    background-color: red;
    color: white;

}

.buttonSection > button:hover {
    color:  darkred;
    transform:scale(1.03);
    background-color: white;
}


.returnButton {
    border-style: solid;
    border-color: black;
    margin: 5px;
    width: 150px;
    height: 40px;
    outline: none;
    cursor: pointer;
    background: none;
    transition: .3s;
    border-radius: 5px;
    font-family: "Lato",sans-serif;
    background-color: white;
    color: red;
  
  }
  
  .return{
    text-align: center;
  }

  .returnButton:hover {
    color:  white;
    background-color: red;
  }