html {
    scroll-behavior: smooth;
}

.buttonSection {
    text-align: center;
    height: 400px;
}

.buttonSection > h5 {
    margin-top: 100px;
    margin-bottom: 150px;
}

.buttonSection > a {
    margin-top: 50%;
    margin-left: 5px;
    padding: 5%;
    border-color: black;
    background-color: firebrick;
    border-style: solid;
    color: white;
    text-shadow: black;
    
}

button {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 5px;
}