html {
    scroll-behavior: smooth;
}

.buttonSection {
    text-align: center;
    height: 300px;
}

.buttonSection > h4 {
    margin-top: 75px;
    margin-bottom: 75px;
}

.buttonSection > button {
    border-style: solid;
    border-color: black;
    margin: 5px;
    width: 180px;
    height: 80px;
    outline: none;
    cursor: pointer;
    background: none;
    transition: .5s;
    border-radius: 5px;
    font-family: "Lato",sans-serif;
    background-color: red;
    color: white;

}

.buttonSection > button:hover {
    color:  darkred;
    transform:scale(1);
    background-color: white;
}