<div class="buttonSection" id="">
  <h4>Categories</h4>
  <button class="btn" (click)="scroll('#events')">Events</button>
  <button class="btn" (click)="scroll('#community')">Community</button>
  <button class="btn" (click)="scroll('#tickets')">Tickets</button>
  <button class="btn" (click)="scroll('#helpdesk')">Support</button>
</div>

<hr>

<div class="buttonSection" id="#events">
  <h4>Events</h4>
  <button class="btn" onclick="window.location.href='https://www.theage-muenchen.de';">Upcoming events</button>
  <button class="btn" onclick="window.location.href='https://www.theage-muenchen.de';">Top 50 events</button>
  <button class="btn" onclick="window.location.href='https://www.theage-muenchen.de';">Reviews [Placeholdert]</button>
  <button class="btn" onclick="window.location.href='/events';">All events</button>
</div>

<hr>

<div class="buttonSection" id="#tickets">
  <h4>Tickets</h4>
  <button class="btn" onclick="window.location.href='https://www.theage-muenchen.de';">Tickets</button>
  <button class="btn" onclick="window.location.href='https://www.theage-muenchen.de/last-minute.html';">Last minute tickets</button>
  <button class="btn" onclick="window.location.href='https://www.theage-muenchen.de/';">I'm a button</button>
  <button class="btn" onclick="window.location.href='https://www.theage-muenchen.de';">I'm a button</button>
</div>

<hr>

<div class="buttonSection" id="#community">
  <h4>Community</h4>
  <button class="btn" onclick="window.location.href='https://www.theage-muenchen.de';">Official Blog</button>
  <button class="btn" onclick="window.location.href='https://www.theage-muenchen.de';">Forum</button>
  <button class="btn" onclick="window.location.href='https://www.theage-muenchen.de';">Reviews</button>
  <button class="btn" onclick="window.location.href='https://www.theage-muenchen.de';">Cultural trips</button>
</div>

<hr>

<div class="buttonSection" id="#helpdesk">
  <h4>Customer Support</h4>
  <button class="btn" onclick="window.location.href='https://www.theage-muenchen.de/geschaeftsstelle.html';">Contact information</button>
  <button class="btn" onclick="window.location.href='/faq';">faq</button>
  <button class="btn" onclick="window.location.href='https://www.theage-muenchen.de';">I'm a button</button>
  <button class="btn" onclick="window.location.href='https://www.theage-muenchen.de';">I'm a button</button>
  
</div>

<div class="return">
  <button class="returnButton" (click)="scroll()">Return to top</button>
</div>


    <!--       html for recent posts

<h1 style="text-align: center; margin-bottom: 12px; color: lightslategray;">Recent Posts</h1>
<app-loading *ngIf="loading"></app-loading>
<div class="row" *ngIf="!loading">
  <div class="col-lg-8 col-md-10 mx-auto">

    <div *ngFor="let post of posts">
      <app-preview-post [post]="post"></app-preview-post>
      <hr>
    </div>
    <div class="clearfix">
      <a class="btn btn-secondary float-left pointer" routerLink="/author-post">
        New Post
        <i class="fa fa-plus" aria-hidden="true"></i></a>
      <a class="btn btn-secondary float-right pointer" routerLink="/posts">
        All Posts &rarr;
      </a>
    </div>
    
  </div>
</div>
-->