<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
    <h2 class="pageTitle">FAQ</h2>

      <!-- Looping array to get values -->
      <div *ngFor="let item of items">
          <h5>{{item.title}}</h5>
          <div *ngFor="let value of item.questions;let i = index">
              <p class="title">{{item.questions[i]}}</p>
              <p>{{item.answers[i]}}</p>
              <hr>
          </div>
      </div>
      
    </div>
  </div>
</div>
