<div class="container">
  <form class="theage-theme">

    <h3>Create a new post</h3>

    <mat-form-field appearance="fill">
      <div class="form-field">
        <mat-label>Category</mat-label>
        <select name="category">
          <option [value]="category.id" *ngFor="let category of categories">{{category.name}}</option>
        </select>
      </div>
    </mat-form-field>

    <mat-form-field>
      <div class="form-field">
        <mat-label>Post title</mat-label>
        <textarea matInput #message maxlength="256" placeholder="Enter post title"></textarea>
        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
      </div>
    </mat-form-field>

    <br>

    <mat-form-field>
      <div class="form-field">
        <mat-label>Content</mat-label>
        <textarea matInput #message maxlength="5000" placeholder="Enter post title"></textarea>
        <mat-hint align="end">{{message.value.length}} / 5000</mat-hint>
      </div>

    </mat-form-field>

    <br>
    <button mat-raised-button color="primary">Create a post</button>
  </form>
</div>
