<div class="container">
  <form class="theage-theme" >

    <h3>Create a new post</h3>

      <div class="form-field">
        <mat-label class="title">Category</mat-label>
        <select #cat name="category" required>
          <option [value]="category.id" *ngFor="let category of categories" (click)="onChange(category.id)" >{{category.name}}</option>
        </select>

        <mat-label class="title">Subcategory</mat-label>
        <select #sub name="subcategory" required>
          <option [value]="sub.id" *ngFor="let sub of subOptions">{{sub.name}}</option>
        </select>
      </div>

      <div class="form-field">
        <mat-label class="title">Post title</mat-label>
        <textarea matInput #title maxlength="256" placeholder="Enter post title"></textarea>
        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
      </div>

    <br>

      <div class="form-field">
        <mat-label class="title">Content</mat-label>
        <textarea matInput #content maxlength="5000" placeholder="Enter post content"></textarea>
        <mat-hint align="end">{{message.value.length}} / 5000</mat-hint>
      </div>

    <br>
    <button mat-raised-button color="primary" (click)="addItem(cat.value, sub.value, title.value, content.value)">Create a post</button>
  </form>
</div>
